<div class="container main-content login-screen">
  <h3 class="text-center">Omni Channel Experience Lab</h3>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User Login</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="usernameId" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="usernameId" [(ngModel)]="model.username" #username="ngModel" name="username" placeholder="Enter Username" required>
                <div *ngIf="f.submitted && !username.valid" class="text-danger">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="passwordId" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordId" [(ngModel)]="model.password" #password="ngModel" name="password" placeholder="Enter Password" required>
                <div *ngIf="f.submitted && !password.valid" class="text-danger">Password is required</div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" [disabled]="loading">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
