body {
  padding-top: 50px;
}

.main-content {
  padding: 15px;
}

.mb-0 {
  margin-bottom: 0;
}



.search-list.list-group li.list-group-item.selected,
.search-list.list-group li.list-group-item:hover{
	background-color: #d9edf7;
}

.form-group{
	float:left;
	margin-right:5px;
}

#searchByname{
	    float: left;
    width: 20%;
}



.code{
	float:left;
}

.action{
	float: left;
}

#searchForId{
	width: 75%;
}

#searchById{
	width: 75%;
}

.form-control{
	float:left;
	width:20%;
	margin-left: 10px;
}

.float{
	float: left;
}
.clearFloat{
clear:both;
}

.underline{
	 border-bottom: 2px solid #1cbb1c;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.authenticate{
	margin-right: 1em;
}

#searchBymonth{
	clear:both;
	clear: both;
    margin-top: 20px;
    margin-left: 109px;
    width: 80px;
}


.list-customer{
    float: left;
    height: 105px;
}

.list{
	float: left;
}

.pad{
    padding-left: 27px;
}

